* {
  box-sizing: border-box;

}

html, body {
    margin: 0;
  padding: 0;
  background-color: rgb(233, 237, 239);
  font-family: 'Alata';
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  justify-content: center;

  text-align: center;  
}

h2 {
  color: rgb(52, 84, 107);
}

textarea {
  font-family: 'Alata';
  width: 50vw;
  font-size: 1.2em;

}

form {
  display: flex;
  flex-direction: column	;
  align-items: center;
  justify-content: center;
}

button {
  font-family: 'Alata';
  border: 0pt;
}

form button {

  width: 30vw;
  font-size: 1.2em;
  background-color: rgb(52, 84, 107);
  
  color: white;
  padding: 5px;
  border-radius: 5pt;
}

.duel{
  display: flex;

}



.brackets {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  
}

.round {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh; /* żeby runda wypełniała wysokość okna */
}

.round button {
  flex: 1;              /* zajmuje całą możliwą wysokość w kolumnie */
  width: 100%;          /* zajmuje całą szerokość kontenera round */
  padding: 0;           /* usuń padding, żeby obrazek się rozciągnął */
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contestant {
  width: 100pt;
  border-radius: 8px;
  object-fit: cover;
  display: block; 
}


.duel {
  display: flex;
  height: 100vh;
}

.rival {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.rival-image {
  
  max-width: 100%;
  max-height: 70%;
  height: 1000px;
  object-fit: contain;
}

.rival-button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(52, 84, 107);;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.rival-button:hover {
  background-color: rgb(32, 56, 73);;
}
